{% extends './_layouts/base.njk' %}


{% block content %}
  <div class="page" id="app">
    <div class="container">

      {% include './components/form-test/form.njk' %}

    </div>
  </div>
{% endblock %}
